{% extends 'base.html' %}
{% load static %}

{% block title %}
    Oetamoni
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "design/index.css" %}">
{% endblock css_files %}

{% block content %}
    <section id="welcome">
        <header>
            <p>
                Welcome to the Best Streaming Service! <br>
                Watch Movies with HD Quality
            </p>
        </header>
    </section>
    
    <section id="latest-movie">
            <ul>
                {% for post in posts %}
                    <li>{% include "design/includes/post.html" %}</li>
                {% endfor %}
            </ul>
    </section>
{% endblock content %}